.footer
	.footer__top
		.footer__top-item
			a(href="tel:+79285066700" class="footer__top-link")
				+icon('phone','footer__icon  footer__icon--phone',24,24)
				| +7 (928) 506-67-00
		.footer__top-item
			a(href="#" class="footer__top-link")
				+icon('quest','footer__icon  footer__icon--quest',25,25)
				| Задать вопрос
		.footer__top-item
			a(href="#" class="footer__top-link")
				+icon('man','footer__icon  footer__icon--man',21.5,21.5)
				| Личный кабинет
		.footer__top-item
			a(href="#" class="footer__top-link")
				+icon('loupe','footer__icon  footer__icon--loupe',21.5,21.5)
				| Поиск
	.footer__bottom ©  2016 Дагестанские компьютерные сети  «ДагНет»