extends ../layout/main

block title
	| Главная страница

block content
	main.main
		.main-page
			section.main-page__static
				include ../modules/menu
				.main-page__static-content
					h2.main-page__static-title
						|Безлимитный интернет
						strong.main-page__static-strong DN-650 за 500 руб/мес
					p.main-page__static-text Скорость входящего/исходящего канала, Кбит/с днем 14000, ночью 20000
					button.button ПОДКЛЮЧИТЬСЯ
						span.button__arrow(style="background-color: rgba(28, 83, 148, 0.47)")
				img(class="main-page__static-bg" src="img/main-page/static-bg.jpg" alt="alt")

			section.main-page__dinamic
				include ../modules/main-page-item
				.main-page__dinamic-content.slide-1

					.main-page__slide.main-page__slide--1
						+dinamicItem('main-page__dinamic-item--1')
						+dinamicItemFill('main-page__dinamic-item--1')
						.main-page__dinamic-item.main-page__dinamic-item--full.main-page__dinamic-item--1
							#map.map

					.main-page__slide.main-page__slide--2
						+dinamicItemFill('main-page__dinamic-item--2')
						+dinamicItem('main-page__dinamic-item--2')
						+dinamicItem('main-page__dinamic-item--2')
						+dinamicItemFill('main-page__dinamic-item--2')
					a.button.button--slide
						span.button__arrow
				include ../modules/footer